<ion-header>

  <ion-navbar>
    <ion-title>Add Member</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card >
	 <ion-list>
		  <ion-item>
		    <ion-label floating>Member</ion-label>
		    <ion-input type="text" [(ngModel)]="search" (keyup)="searchMember($event)" name="searchname"></ion-input>
		  </ion-item>
		  <div class="auto-search-panel" *ngIf="userList.length > 0">
		  	<ul>
		  		<li *ngFor="let u of userList" (click)="selectMember(u)" >{{ u.name }} <span class="gray-text right-float">{{ u.phoneno }}</span></li>
		  	</ul>
		  </div>
		</ion-list>
	 <ion-list>
	  <ion-item>
	    <ion-label floating>Description</ion-label>
	    <ion-input type="text" [(ngModel)]="member.deposit"></ion-input>
	  </ion-item>
	</ion-list>
	<button ion-button full (click)="saveMember()">Save</button>
	<button ion-button full color="danger" (click)="dismissModal()">Cancel</button>
</ion-card>
</ion-content>
