<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="home"></ion-icon> Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card *ngFor="let i of groups; let index = index">
	  <ion-item>
	  	<div style="float:left">
		    <h4>{{ i.name }}</h4>
			<p>Total : &#8377; {{ i.amount }}</p>
			<p *ngIf="i.date">Start :  {{ i.date | date }}</p>
		</div>
		<button ion-button icon-right style="float: right" (click)="goToDetails(i.id)">
		  Go Center
		  <ion-icon name="ios-arrow-forward-outline"></ion-icon>
		</button>
	  </ion-item>
	</ion-card>
</ion-content>
