<!--
  Generated template for the AddmemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add member</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 	<form >
 		<div class="errorm-message" *ngIf="errorMessage">{{errorMessage}}</div>
		<ion-list>
		  <ion-item>
		    <ion-label floating>Member</ion-label>
		    <ion-input type="text" [(ngModel)]="search" (keyup)="searchMember($event)" name="searchname"></ion-input>
		  </ion-item>
		  <div class="auto-search-panel" *ngIf="userList.length > 0">
		  	<ul>
		  		<li *ngFor="let u of userList" (click)="selectMember(u)" >{{ u.name }} <span class="gray-text right-float">{{ u.phoneno }}</span></li>
		  	</ul>
		  </div>
		</ion-list>
		<button ion-button full type="submit" [disabled]="!member.id" (click)="onSaveMember()">Save</button>
	</form>
</ion-content>
