h1 {
    text-align : center;
    color : #FFF;
}
ion-app.md [padding] .scroll-content{
	padding : 0;
}
.toolbar-title-md{
	color : #FFF;
}
.home-container {
	border-color: #e43535;
    background: #3F51B5;
    min-height : 100vh;
    position :relative;
}

.button-container {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}