// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background  {
    background: #478aff;
    color :#FFF;
}
.toolbar-title-ios {
    color :#FFF;
}

.full-width {
    width : 100%;
}
.clearfix{
    clear:both;
}
.left-float{
    float: left;
}
.right-float{
    float: right;
}
.table {
	width: 100%;
}
table.table tr td {
	border-bottom: 1px solid #CCC; 
	line-height: 25px;
	padding : 10px 0;
}
table.table tr:last-of-type td {
	border-bottom: none; 
}

.admin-span {
    background: #3f51b5;
    color: #FFF;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
}
span.name-icon {
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #3f51b5;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
}
span.name-icon.A-icon { background: #e48018 }
span.name-icon.B-icon { background: #116c75 }
span.name-icon.C-icon { background: #8a36b5 }
span.name-icon.D-icon { background: #cc1c85 }
span.name-icon.E-icon { background: #ff0d0d }
span.name-icon.F-icon { background: #060f82 }
span.name-icon.G-icon { background: #6db399 }
span.name-icon.H-icon { background: #aba739 }
span.name-icon.I-icon { background: #da875f }
span.name-icon.J-icon { background: #226760 }
span.name-icon.K-icon { background: #000000 }
span.name-icon.L-icon { background: #d48e8e }
span.name-icon.M-icon { background: #b4b2da }
span.name-icon.N-icon { background: #ac29b5 }
span.name-icon.O-icon { background: #09631c }
span.name-icon.P-icon { background: #86af6d }
span.name-icon.Q-icon { background: #a25fa0 }
span.name-icon.R-icon { background: #a51141 }
span.name-icon.S-icon { background: #3b747d }
span.name-icon.T-icon { background: #209239 }
span.name-icon.U-icon { background: #b19612 }
span.name-icon.V-icon { background: #15d4ff }
span.name-icon.W-icon { background: #978aad }
span.name-icon.X-icon { background: #ab041b }
span.name-icon.Y-icon { background: #9db76b }
span.name-icon.Z-icon { background: #b53f4a }
.red-text{
    color: #e05959;
}
.green-text {
    color: #47af33;
}
.blue-text {
    color: #478aff;
}
.gray-text {
    color : #CCC;
}
.toolbar-background-md {
	background : #478aff;
}
.fab-close-icon {
	line-height : 30px;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-bold {
	font-weight:bold;
}
.table-menu::before {
    content: "\25B2";
    position: absolute;
    top: -14px;
    color: #f5f5f5;
    left: 50%;
    
}
.table-menu {
    position: absolute;
    right: 11px;
    background: #f5f5f5;
    box-shadow: 0 1px 1px 1px #dadada;
}
.table-menu a {
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 0 0 3px 3px;
}
.auto-search-panel{
    position: absolute;
    z-index:999;
    width:100%;
    max-height: 130px;
    overflow-y: scroll;
    background : #FFF;
}
.auto-search-panel ul {
    list-style: none;
    width:100%;
    padding:0;
    margin:0;
}
.auto-search-panel ul li{
    padding: 15px 29px 15px 15px;
    border-bottom:1px solid #CCC;
    display:block;
}
.auto-search-panel ul li:last-of-type{
    border:none;
}
.auto-search-panel ul li:focus{
    background:#ececec;
}
.red-badge{
    background : #b72c2c;
}
.mid-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}